button {
  height: 92px;
  width: 501px;
  border-radius: 100px;
  border: #44D3A8;
  background: #44D3A8;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-left: 434px;
  justify-content: center;
  position: relative;
}

p {
  font-family: 'Helvetica';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

button::before {
  content:"";
  background: #C4C4C4;
  height: 2px;
  width: 200px;
  position: absolute;
  top: 40px;
  left: -230px;
}

button::after {
  content:"";
  background: #C4C4C4;
  height: 2px;
  width: 200px;
  position: absolute;
  top: 40px;
  right: -230px;
}

p::before {
  content:"";
  background: #C4C4C4;
  height: 2px;
  width: 200px;
  position: absolute;
  top: 50px;
  left: -230px;
}

button:hover {
  content:"CREATE MY WEBSITE";
  background: #8efaf1;
}

p::after {
  content:"";
  background: #C4C4C4;
  height: 2px;
  width: 200px;
  position: absolute;
  top: 50px;
  right: -230px;
}
